# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Macros
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# IDEs
.idea/
*.iml

# Temporary files
tmp/
temp/
